[Desktop Entry]
Encoding=UTF-8
Name=LUNA
Comment=LUNA P2P Cryptocurrency
Comment[ru]=LUNA, P2P криптовалюта
Comment[fr]=LUNA, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LUNA, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/LUNA-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/LUNA80.xpm
MimeType=x-scheme-handler/LUNA;
Categories=Office;
