#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_LUNAd += debian/examples/*
DEB_INSTALL_MANPAGES_LUNAd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix LUNAd USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f LUNA-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake LUNA-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/LUNAd:
	chmod +x $(cdbs_curdestdir)usr/bin/LUNAd
binary-post-install/LUNA-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/LUNA-qt
